.checkbox {
    border: 2px red solid;
    width: 10px;
    height: 9px;
    
    display: block;
    text-decoration: none;
    color: white;
    margin: 0;
    line-height: 5px;
    font-size: 20px;
}

.checkbox:focus {
    /* show we have focus on the checkbox */
    border: 2px red dotted;
    /* remove blue outline when focused*/
    outline: none;
}
.checked {
    background: red;
}